<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>hello Mr D</h1>
    <video id="localStream" width="300" controls></video>
    <br>
    <br>
    <video id="friendStream" width="300" controls></video>
    <br>
    <br>
    <label>My connection token</label> <br>
    <br>
    <textarea name="" id="txtMySignal" cols="100" rows="3"></textarea>
    <br><br>
    <input type="text" placeholder="your friend's Signal" id="txtFriendSignal">
    <br><br>
    <button id="btnConnect">Connect</button>
    <script src="bundle.js"></script>
</body>
</html>